<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="48"/>
<entry key="0" type="xstring" value="LLEGAR[]"/>
<entry key="1" type="xstring" value="PARKING[]"/>
<entry key="2" type="xstring" value="APARCAMIENTO[]"/>
<entry key="3" type="xstring" value="ASEGURABAN[]"/>
<entry key="4" type="xstring" value="CONTRATADAS[]"/>
<entry key="5" type="xstring" value="AMABILIDAD[]"/>
<entry key="6" type="xstring" value="FACILIDAD[]"/>
<entry key="7" type="xstring" value="RESERVA[]"/>
<entry key="8" type="xstring" value="TIEMPO[]"/>
<entry key="9" type="xstring" value="CONTRATADO[]"/>
<entry key="10" type="xstring" value="ESPERANDO[]"/>
<entry key="11" type="xstring" value="BARATO[]"/>
<entry key="12" type="xstring" value="MENUS[]"/>
<entry key="13" type="xstring" value="PRECIO[]"/>
<entry key="14" type="xstring" value="INSTALACIONES[]"/>
<entry key="15" type="xstring" value="DEJAR[]"/>
<entry key="16" type="xstring" value="LOCALIZAR[]"/>
<entry key="17" type="xstring" value="ENCONTRAR[]"/>
<entry key="18" type="xstring" value="EMISION[]"/>
<entry key="19" type="xstring" value="CANJEAR[]"/>
<entry key="20" type="xstring" value="CONTRATAR[]"/>
<entry key="21" type="xstring" value="FALTA[]"/>
<entry key="22" type="xstring" value="LLEVO[]"/>
<entry key="23" type="xstring" value="INFORMACION[]"/>
<entry key="24" type="xstring" value="CONTRATO[]"/>
<entry key="25" type="xstring" value="LLEGADA[]"/>
<entry key="26" type="xstring" value="APARCAR[]"/>
<entry key="27" type="xstring" value="INTERESANTE[]"/>
<entry key="28" type="xstring" value="LLEGUE[]"/>
<entry key="29" type="xstring" value="PUNTOS[]"/>
<entry key="30" type="xstring" value="PUNTO[]"/>
<entry key="31" type="xstring" value="ASEGURARME[]"/>
<entry key="32" type="xstring" value="COMPROBAR[]"/>
<entry key="33" type="xstring" value="MOLESTADO[]"/>
<entry key="34" type="xstring" value="LLEGO[]"/>
<entry key="35" type="xstring" value="ESTACIONAMIENTO[]"/>
<entry key="36" type="xstring" value="CONTRATABAS[]"/>
<entry key="37" type="xstring" value="RESERVABA[]"/>
<entry key="38" type="xstring" value="RESERVARLO[]"/>
<entry key="39" type="xstring" value="RESERVADO[]"/>
<entry key="40" type="xstring" value="RESERVAR[]"/>
<entry key="41" type="xstring" value="ANTELACION[]"/>
<entry key="42" type="xstring" value="ESPERAR[]"/>
<entry key="43" type="xstring" value="EXCESIVA[]"/>
<entry key="44" type="xstring" value="REDUZCO[]"/>
<entry key="45" type="xstring" value="ASEGURATE[]"/>
<entry key="46" type="xstring" value="VINIENDO[]"/>
<entry key="47" type="xstring" value="Document class"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="389"/>
<entry key="0" type="xstring" value="Document"/>
<entry key="1" type="xstring" value="HABIA[]"/>
<entry key="2" type="xstring" value="OFERTA[]"/>
<entry key="3" type="xstring" value="PAGUE[]"/>
<entry key="4" type="xstring" value="18€POR[]"/>
<entry key="5" type="xstring" value="APLICACION[]"/>
<entry key="6" type="xstring" value="DEMAS[]"/>
<entry key="7" type="xstring" value="CORRECTO[]"/>
<entry key="8" type="xstring" value="SALIA[]"/>
<entry key="9" type="xstring" value="DECIAN[]"/>
<entry key="10" type="xstring" value="PLAZA[]"/>
<entry key="11" type="xstring" value="ILIMITADAS[]"/>
<entry key="12" type="xstring" value="ENTRADAS[]"/>
<entry key="13" type="xstring" value="PODER[]"/>
<entry key="14" type="xstring" value="PARQUING[]"/>
<entry key="15" type="xstring" value="OPCION[]"/>
<entry key="16" type="xstring" value="ACUDIR[]"/>
<entry key="17" type="xstring" value="SENAL[]"/>
<entry key="18" type="xstring" value="AGAIN[]"/>
<entry key="19" type="xstring" value="RECOMMEND[]"/>
<entry key="20" type="xstring" value="FRIENDS[]"/>
<entry key="21" type="xstring" value="PARCLICK[]"/>
<entry key="22" type="xstring" value="THANKYOU-[]"/>
<entry key="23" type="xstring" value="ASSEZ[]"/>
<entry key="24" type="xstring" value="EMPLACEMENT[]"/>
<entry key="25" type="xstring" value="VISIBLE[]"/>
<entry key="26" type="xstring" value="TROUVER[]"/>
<entry key="27" type="xstring" value="ATENCION[]"/>
<entry key="28" type="xstring" value="PERSONAL[]"/>
<entry key="29" type="xstring" value="ESCOGER[]"/>
<entry key="30" type="xstring" value="HORARIO[]"/>
<entry key="31" type="xstring" value="AVISAN[]"/>
<entry key="32" type="xstring" value="CARGOS[]"/>
<entry key="33" type="xstring" value="GESTION[]"/>
<entry key="34" type="xstring" value="BONOS[]"/>
<entry key="35" type="xstring" value="VALIDOS[]"/>
<entry key="36" type="xstring" value="V3D92KLTICKETS[]"/>
<entry key="37" type="xstring" value="WOULD[]"/>
<entry key="38" type="xstring" value="BOOKED[]"/>
<entry key="39" type="xstring" value="CLOCK[]"/>
<entry key="40" type="xstring" value="CHARGED[]"/>
<entry key="41" type="xstring" value="OTHER[]"/>
<entry key="42" type="xstring" value="ANOTHER[]"/>
<entry key="43" type="xstring" value="EUROS[]"/>
<entry key="44" type="xstring" value="DIRECTAMENTE[]"/>
<entry key="45" type="xstring" value="HUBIERA[]"/>
<entry key="46" type="xstring" value="CIUDADES[]"/>
<entry key="47" type="xstring" value="PARCKING[]"/>
<entry key="48" type="xstring" value="FIANZA[]"/>
<entry key="49" type="xstring" value="SALUDO[]"/>
<entry key="50" type="xstring" value="NINGUN[]"/>
<entry key="51" type="xstring" value="TRABAJADOR[]"/>
<entry key="52" type="xstring" value="ESTUVE[]"/>
<entry key="53" type="xstring" value="HOSPITAL[]"/>
<entry key="54" type="xstring" value="MADRID[]"/>
<entry key="55" type="xstring" value="COBRADO[]"/>
<entry key="56" type="xstring" value="CANCELE[]"/>
<entry key="57" type="xstring" value="RECLAMAR[]"/>
<entry key="58" type="xstring" value="HORAS[]"/>
<entry key="59" type="xstring" value="DEVUELVA[]"/>
<entry key="60" type="xstring" value="DINERO[]"/>
<entry key="61" type="xstring" value="COCHE[]"/>
<entry key="62" type="xstring" value="RECOGIDA[]"/>
<entry key="63" type="xstring" value="FACTURA[]"/>
<entry key="64" type="xstring" value="TAMBIEN[]"/>
<entry key="65" type="xstring" value="DEVOLVIERAN[]"/>
<entry key="66" type="xstring" value="SUPERIOR[]"/>
<entry key="67" type="xstring" value="ESPERA[]"/>
<entry key="68" type="xstring" value="MEDIA[]"/>
<entry key="69" type="xstring" value="VEHICULO[]"/>
<entry key="70" type="xstring" value="COMODO[]"/>
<entry key="71" type="xstring" value="ACLARABAN[]"/>
<entry key="72" type="xstring" value="SACAR[]"/>
<entry key="73" type="xstring" value="QUERIA[]"/>
<entry key="74" type="xstring" value="PERDIDA[]"/>
<entry key="75" type="xstring" value="RESEVAS[]"/>
<entry key="76" type="xstring" value="SUPONGO[]"/>
<entry key="77" type="xstring" value="TENDRIA[]"/>
<entry key="78" type="xstring" value="RECOMENDARIA[]"/>
<entry key="79" type="xstring" value="CONFUSA[]"/>
<entry key="80" type="xstring" value="ALTERNATIVAS[]"/>
<entry key="81" type="xstring" value="VOLVER[]"/>
<entry key="82" type="xstring" value="USARLO[]"/>
<entry key="83" type="xstring" value="HARIA[]"/>
<entry key="84" type="xstring" value="MIRAR[]"/>
<entry key="85" type="xstring" value="INFERIOR[]"/>
<entry key="86" type="xstring" value="COSTE[]"/>
<entry key="87" type="xstring" value="DIARIA[]"/>
<entry key="88" type="xstring" value="PROBLEMA[]"/>
<entry key="89" type="xstring" value="RAPIDAMENTE[]"/>
<entry key="90" type="xstring" value="SOLUCIONARON[]"/>
<entry key="91" type="xstring" value="BASTANTE[]"/>
<entry key="92" type="xstring" value="SIMPATICO[]"/>
<entry key="93" type="xstring" value="EXPLICARON[]"/>
<entry key="94" type="xstring" value="FUNCIONABA[]"/>
<entry key="95" type="xstring" value="MENCIONA[]"/>
<entry key="96" type="xstring" value="DECEPCIONANTES[]"/>
<entry key="97" type="xstring" value="LLAVES[]"/>
<entry key="98" type="xstring" value="TARIFAS[]"/>
<entry key="99" type="xstring" value="DESAPARCAR[]"/>
<entry key="100" type="xstring" value="EXPLICA[]"/>
<entry key="101" type="xstring" value="APLICAR[]"/>
<entry key="102" type="xstring" value="COMISION[]"/>
<entry key="103" type="xstring" value="GASTOS[]"/>
<entry key="104" type="xstring" value="DESCUENTO[]"/>
<entry key="105" type="xstring" value="ENTERO[]"/>
<entry key="106" type="xstring" value="ALTOS[]"/>
<entry key="107" type="xstring" value="PRESENTAR[]"/>
<entry key="108" type="xstring" value="RECIBO[]"/>
<entry key="109" type="xstring" value="DIFICIL[]"/>
<entry key="110" type="xstring" value="CABINA[]"/>
<entry key="111" type="xstring" value="PERSONALIZADA[]"/>
<entry key="112" type="xstring" value="DIFICULTAD[]"/>
<entry key="113" type="xstring" value="DISPONIBILIDSD[]"/>
<entry key="114" type="xstring" value="TUVIMOS[]"/>
<entry key="115" type="xstring" value="ENTRADA[]"/>
<entry key="116" type="xstring" value="TOMARON[]"/>
<entry key="117" type="xstring" value="SALIDA[]"/>
<entry key="118" type="xstring" value="PROBLEMAS[]"/>
<entry key="119" type="xstring" value="TRABAJO[]"/>
<entry key="120" type="xstring" value="SERVICIO[]"/>
<entry key="121" type="xstring" value="LLAMAR[]"/>
<entry key="122" type="xstring" value="EXCELENTE[]"/>
<entry key="123" type="xstring" value="AMABLEMENTE[]"/>
<entry key="124" type="xstring" value="ESTADO[]"/>
<entry key="125" type="xstring" value="CARRITO[]"/>
<entry key="126" type="xstring" value="PERSONA[]"/>
<entry key="127" type="xstring" value="MOVILIDAD[]"/>
<entry key="128" type="xstring" value="REDUCIDA[]"/>
<entry key="129" type="xstring" value="SILLA[]"/>
<entry key="130" type="xstring" value="RUEDAS[]"/>
<entry key="131" type="xstring" value="ESRUVIMOS[]"/>
<entry key="132" type="xstring" value="SUBIENDO[]"/>
<entry key="133" type="xstring" value="BAJANDO[]"/>
<entry key="134" type="xstring" value="RAMPA[]"/>
<entry key="135" type="xstring" value="CUPON[]"/>
<entry key="136" type="xstring" value="GARITA[]"/>
<entry key="137" type="xstring" value="EXPLICACION[]"/>
<entry key="138" type="xstring" value="CHICO[]"/>
<entry key="139" type="xstring" value="EXPLICAIS[]"/>
<entry key="140" type="xstring" value="FACIL[]"/>
<entry key="141" type="xstring" value="ACCESO[]"/>
<entry key="142" type="xstring" value="FUTBOL[]"/>
<entry key="143" type="xstring" value="SACABA[]"/>
<entry key="144" type="xstring" value="QUIZA[]"/>
<entry key="145" type="xstring" value="PUDIERA[]"/>
<entry key="146" type="xstring" value="METERLO[]"/>
<entry key="147" type="xstring" value="ESPECIFICA[]"/>
<entry key="148" type="xstring" value="PAGINA[]"/>
<entry key="149" type="xstring" value="PROCESO[]"/>
<entry key="150" type="xstring" value="COMPRA[]"/>
<entry key="151" type="xstring" value="RESERVE[]"/>
<entry key="152" type="xstring" value="MOSTRADA[]"/>
<entry key="153" type="xstring" value="METROS[]"/>
<entry key="154" type="xstring" value="EMPLEADO[]"/>
<entry key="155" type="xstring" value="GUSTO[]"/>
<entry key="156" type="xstring" value="MOTIVO[]"/>
<entry key="157" type="xstring" value="CABIAN[]"/>
<entry key="158" type="xstring" value="COCHES[]"/>
<entry key="159" type="xstring" value="MOVIAN[]"/>
<entry key="160" type="xstring" value="APRETUJABAN[]"/>
<entry key="161" type="xstring" value="ESPACIO[]"/>
<entry key="162" type="xstring" value="MUSEO[]"/>
<entry key="163" type="xstring" value="OPERATIVIDAD[]"/>
<entry key="164" type="xstring" value="SISTEMA[]"/>
<entry key="165" type="xstring" value="INDICAR[]"/>
<entry key="166" type="xstring" value="SALIR[]"/>
<entry key="167" type="xstring" value="ATENDERME[]"/>
<entry key="168" type="xstring" value="APARECE[]"/>
<entry key="169" type="xstring" value="DESAGRADABLES[]"/>
<entry key="170" type="xstring" value="SORPRESAS[]"/>
<entry key="171" type="xstring" value="DOMINGO[]"/>
<entry key="172" type="xstring" value="RETRASAR[]"/>
<entry key="173" type="xstring" value="VIAJE[]"/>
<entry key="174" type="xstring" value="APERTURA[]"/>
<entry key="175" type="xstring" value="CANCELACION[]"/>
<entry key="176" type="xstring" value="DEMASIADO[]"/>
<entry key="177" type="xstring" value="RECOGER[]"/>
<entry key="178" type="xstring" value="FISICAMENTE[]"/>
<entry key="179" type="xstring" value="TRAVES[]"/>
<entry key="180" type="xstring" value="INTERFONO[]"/>
<entry key="181" type="xstring" value="CAOTICO[]"/>
<entry key="182" type="xstring" value="MINUTOS[]"/>
<entry key="183" type="xstring" value="HUBIESE[]"/>
<entry key="184" type="xstring" value="AHORRADO[]"/>
<entry key="185" type="xstring" value="COMUNICACION[]"/>
<entry key="186" type="xstring" value="ATENDER[]"/>
<entry key="187" type="xstring" value="IMPOSIBLE[]"/>
<entry key="188" type="xstring" value="SUPONE[]"/>
<entry key="189" type="xstring" value="DEBIA[]"/>
<entry key="190" type="xstring" value="CONTACTAR[]"/>
<entry key="191" type="xstring" value="RESPONDIAN[]"/>
<entry key="192" type="xstring" value="TELEFONO[]"/>
<entry key="193" type="xstring" value="SOLVENTO[]"/>
<entry key="194" type="xstring" value="EXIGI[]"/>
<entry key="195" type="xstring" value="TOCAR[]"/>
<entry key="196" type="xstring" value="ESTANCIA[]"/>
<entry key="197" type="xstring" value="COMPENSA[]"/>
<entry key="198" type="xstring" value="PAGAR[]"/>
<entry key="199" type="xstring" value="LLOVIENDO[]"/>
<entry key="200" type="xstring" value="COMER[]"/>
<entry key="201" type="xstring" value="ENCARGADA[]"/>
<entry key="202" type="xstring" value="GESTIONAR[]"/>
<entry key="203" type="xstring" value="TARDE[]"/>
<entry key="204" type="xstring" value="SUPLEMENTO[]"/>
<entry key="205" type="xstring" value="ALQUILADA[]"/>
<entry key="206" type="xstring" value="COBRARAN[]"/>
<entry key="207" type="xstring" value="AMIGO[]"/>
<entry key="208" type="xstring" value="HUBIESEN[]"/>
<entry key="209" type="xstring" value="PAGADO[]"/>
<entry key="210" type="xstring" value="RECIBIDO[]"/>
<entry key="211" type="xstring" value="COMPENSACION[]"/>
<entry key="212" type="xstring" value="CONSIDERO[]"/>
<entry key="213" type="xstring" value="DEBERIA[]"/>
<entry key="214" type="xstring" value="ALGUN[]"/>
<entry key="215" type="xstring" value="ENTRAR[]"/>
<entry key="216" type="xstring" value="TARJETA[]"/>
<entry key="217" type="xstring" value="OFRECISTEIS[]"/>
<entry key="218" type="xstring" value="QUEJANDOSE[]"/>
<entry key="219" type="xstring" value="INSISTENCIA[]"/>
<entry key="220" type="xstring" value="DEJERON[]"/>
<entry key="221" type="xstring" value="MALAS[]"/>
<entry key="222" type="xstring" value="CARAS[]"/>
<entry key="223" type="xstring" value="CONTACTO[]"/>
<entry key="224" type="xstring" value="PONIA[]"/>
<entry key="225" type="xstring" value="DECIA[]"/>
<entry key="226" type="xstring" value="EMPRESA[]"/>
<entry key="227" type="xstring" value="PAGABA[]"/>
<entry key="228" type="xstring" value="MEJOREN[]"/>
<entry key="229" type="xstring" value="TEMAS[]"/>
<entry key="230" type="xstring" value="SERAN[]"/>
<entry key="231" type="xstring" value="MORRO[]"/>
<entry key="232" type="xstring" value="MUEVEN[]"/>
<entry key="233" type="xstring" value="PERMISO[]"/>
<entry key="234" type="xstring" value="NUMERO[]"/>
<entry key="235" type="xstring" value="ERROR[]"/>
<entry key="236" type="xstring" value="VENTAJAS[]"/>
<entry key="237" type="xstring" value="EXTRA[]"/>
<entry key="238" type="xstring" value="SEGURO[]"/>
<entry key="239" type="xstring" value="INMEDIATA[]"/>
<entry key="240" type="xstring" value="CLIENTE[]"/>
<entry key="241" type="xstring" value="TELEFONICA[]"/>
<entry key="242" type="xstring" value="ACUMULACION[]"/>
<entry key="243" type="xstring" value="DEJADO[]"/>
<entry key="244" type="xstring" value="DELICIAS[]"/>
<entry key="245" type="xstring" value="TERCERMUNDISTA[]"/>
<entry key="246" type="xstring" value="COBRAN[]"/>
<entry key="247" type="xstring" value="MODERNO[]"/>
<entry key="248" type="xstring" value="CARISIMO[]"/>
<entry key="249" type="xstring" value="CONDICIONES[]"/>
<entry key="250" type="xstring" value="TEMPRANO[]"/>
<entry key="251" type="xstring" value="GUARDIA[]"/>
<entry key="252" type="xstring" value="COPIA[]"/>
<entry key="253" type="xstring" value="RECLAMARLA[]"/>
<entry key="254" type="xstring" value="PERDI[]"/>
<entry key="255" type="xstring" value="SUERTE[]"/>
<entry key="256" type="xstring" value="EXTREMOS[]"/>
<entry key="257" type="xstring" value="LARGUISIMO[]"/>
<entry key="258" type="xstring" value="SENALIZAR[]"/>
<entry key="259" type="xstring" value="CUESTA[]"/>
<entry key="260" type="xstring" value="ENCONTRARLA[]"/>
<entry key="261" type="xstring" value="MOTOS[]"/>
<entry key="262" type="xstring" value="AJENAS[]"/>
<entry key="263" type="xstring" value="RAZONES[]"/>
<entry key="264" type="xstring" value="VOLUNTAD[]"/>
<entry key="265" type="xstring" value="TALLER[]"/>
<entry key="266" type="xstring" value="ARANAZO[]"/>
<entry key="267" type="xstring" value="GOLPE[]"/>
<entry key="268" type="xstring" value="ALGUNP[]"/>
<entry key="269" type="xstring" value="DEJARON[]"/>
<entry key="270" type="xstring" value="TENIA[]"/>
<entry key="271" type="xstring" value="PRECIOS[]"/>
<entry key="272" type="xstring" value="CAMBIAR[]"/>
<entry key="273" type="xstring" value="BARATOS[]"/>
<entry key="274" type="xstring" value="ANULAR[]"/>
<entry key="275" type="xstring" value="AMABLES[]"/>
<entry key="276" type="xstring" value="SIQUIERA[]"/>
<entry key="277" type="xstring" value="RECIBI[]"/>
<entry key="278" type="xstring" value="SABIAN[]"/>
<entry key="279" type="xstring" value="LOCALIZADOR[]"/>
<entry key="280" type="xstring" value="JUSTIFICANTE[]"/>
<entry key="281" type="xstring" value="PREVISTO[]"/>
<entry key="282" type="xstring" value="CONSUMIDAS[]"/>
<entry key="283" type="xstring" value="HUBIERAN[]"/>
<entry key="284" type="xstring" value="PARKINGS[]"/>
<entry key="285" type="xstring" value="REFERENCIA[]"/>
<entry key="286" type="xstring" value="COTEJARIANMI[]"/>
<entry key="287" type="xstring" value="IMPRESION[]"/>
<entry key="288" type="xstring" value="METIENDO[]"/>
<entry key="289" type="xstring" value="SABEN[]"/>
<entry key="290" type="xstring" value="COSTO[]"/>
<entry key="291" type="xstring" value="PLAZAS[]"/>
<entry key="292" type="xstring" value="PERMITIO[]"/>
<entry key="293" type="xstring" value="UBICACION[]"/>
<entry key="294" type="xstring" value="TRATO[]"/>
<entry key="295" type="xstring" value="RESPONSABLE[]"/>
<entry key="296" type="xstring" value="PEQUENA[]"/>
<entry key="297" type="xstring" value="EXCESIVO[]"/>
<entry key="298" type="xstring" value="CANCELAR[]"/>
<entry key="299" type="xstring" value="ACABA[]"/>
<entry key="300" type="xstring" value="RECARGAR[]"/>
<entry key="301" type="xstring" value="TICKET[]"/>
<entry key="302" type="xstring" value="LIMITE[]"/>
<entry key="303" type="xstring" value="SINCERAMENTE[]"/>
<entry key="304" type="xstring" value="EXPERIENCIA[]"/>
<entry key="305" type="xstring" value="TORNO[]"/>
<entry key="306" type="xstring" value="NEGATIVISIMA[]"/>
<entry key="307" type="xstring" value="SENSACION[]"/>
<entry key="308" type="xstring" value="BUSCATE[]"/>
<entry key="309" type="xstring" value="SOBRA[]"/>
<entry key="310" type="xstring" value="CALLE[]"/>
<entry key="311" type="xstring" value="MOVIA[]"/>
<entry key="312" type="xstring" value="APARCADO[]"/>
<entry key="313" type="xstring" value="ELEVADO[]"/>
<entry key="314" type="xstring" value="AMBIENTE[]"/>
<entry key="315" type="xstring" value="NECESITARSE[]"/>
<entry key="316" type="xstring" value="IMPRIMIR[]"/>
<entry key="317" type="xstring" value="PENSANDO[]"/>
<entry key="318" type="xstring" value="MEDIO[]"/>
<entry key="319" type="xstring" value="SALUDOSVICENTE[]"/>
<entry key="320" type="xstring" value="RELACION[]"/>
<entry key="321" type="xstring" value="IMPORTE[]"/>
<entry key="322" type="xstring" value="PERFECTO[]"/>
<entry key="323" type="xstring" value="PARECIDO[]"/>
<entry key="324" type="xstring" value="RAZON[]"/>
<entry key="325" type="xstring" value="CALIFICACION[]"/>
<entry key="326" type="xstring" value="HABIENDO[]"/>
<entry key="327" type="xstring" value="PUERTA[]"/>
<entry key="328" type="xstring" value="COSTABA[]"/>
<entry key="329" type="xstring" value="INTERNET[]"/>
<entry key="330" type="xstring" value="DOBLE[]"/>
<entry key="331" type="xstring" value="POSITIVOS[]"/>
<entry key="332" type="xstring" value="SABER[]"/>
<entry key="333" type="xstring" value="DISPONIBLE[]"/>
<entry key="334" type="xstring" value="REESERVARLO[]"/>
<entry key="335" type="xstring" value="FACILMENTE[]"/>
<entry key="336" type="xstring" value="TEDIOSO[]"/>
<entry key="337" type="xstring" value="AQUEL[]"/>
<entry key="338" type="xstring" value="PROPIETARIO[]"/>
<entry key="339" type="xstring" value="QUEDO[]"/>
<entry key="340" type="xstring" value="CLARO[]"/>
<entry key="341" type="xstring" value="DESCUBRES[]"/>
<entry key="342" type="xstring" value="PUESTO[]"/>
<entry key="343" type="xstring" value="SALIDO[]"/>
<entry key="344" type="xstring" value="SITIO[]"/>
<entry key="345" type="xstring" value="ONLINE[]"/>
<entry key="346" type="xstring" value="RESPONDIERON[]"/>
<entry key="347" type="xstring" value="ENSENAMOS[]"/>
<entry key="348" type="xstring" value="CONFIRMACION[]"/>
<entry key="349" type="xstring" value="SUFICIENTE[]"/>
<entry key="350" type="xstring" value="DEJARLO[]"/>
<entry key="351" type="xstring" value="ENTREGA[]"/>
<entry key="352" type="xstring" value="RETRASO[]"/>
<entry key="353" type="xstring" value="RECEPCION[]"/>
<entry key="354" type="xstring" value="VEHICULOY[]"/>
<entry key="355" type="xstring" value="SALIO[]"/>
<entry key="356" type="xstring" value="COGIDO[]"/>
<entry key="357" type="xstring" value="LIBRE[]"/>
<entry key="358" type="xstring" value="HUBIERAMOS[]"/>
<entry key="359" type="xstring" value="SEMANA[]"/>
<entry key="360" type="xstring" value="PODRIA[]"/>
<entry key="361" type="xstring" value="MEJORABLE[]"/>
<entry key="362" type="xstring" value="SENALIZACION[]"/>
<entry key="363" type="xstring" value="CAMBIO[]"/>
<entry key="364" type="xstring" value="DURACION[]"/>
<entry key="365" type="xstring" value="FINAL[]"/>
<entry key="366" type="xstring" value="CANCELO[]"/>
<entry key="367" type="xstring" value="LLENO[]"/>
<entry key="368" type="xstring" value="SALIERA[]"/>
<entry key="369" type="xstring" value="CONSULTA[]"/>
<entry key="370" type="xstring" value="AMPLIAR[]"/>
<entry key="371" type="xstring" value="OPERARIO[]"/>
<entry key="372" type="xstring" value="AMPLIO[]"/>
<entry key="373" type="xstring" value="COBRO[]"/>
<entry key="374" type="xstring" value="APARTE[]"/>
<entry key="375" type="xstring" value="PARKIN[]"/>
<entry key="376" type="xstring" value="DETRAS[]"/>
<entry key="377" type="xstring" value="ANDABAN[]"/>
<entry key="378" type="xstring" value="TRABJADORES[]"/>
<entry key="379" type="xstring" value="TRANQUILO[]"/>
<entry key="380" type="xstring" value="APARCAS[]"/>
<entry key="381" type="xstring" value="DEJARAN[]"/>
<entry key="382" type="xstring" value="INTENTAR[]"/>
<entry key="383" type="xstring" value="COMUNICARNOS[]"/>
<entry key="384" type="xstring" value="EXPLICANDO[]"/>
<entry key="385" type="xstring" value="MISMOZ[]"/>
<entry key="386" type="xstring" value="PERDIENDO[]"/>
<entry key="387" type="xstring" value="TENEIS[]"/>
<entry key="388" type="xstring" value="YENDO[]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.ext.textprocessing.data.DocumentValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.3.2.v201704060940"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.3.2.v201704061137"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 120, Cols: 48"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="328c0200-94fa-4122-a97f-b72ee080cd24"/>
</config>
</config>
